* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* CABEÇALHO ------------------- */
header .line {
    background-color: #117050;
    height: 15px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header--area {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header--left img {
    width: 64px;
    height: 64px;
}

/* BOTÃO DE BUSCA E MENU CABEÇALHO ------ */
.header--right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header--search form {
    display: flex;
    width: 250px
}

.header--search input {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #dadada;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
}

.header--menu img {
    width: 24px;
    height: 24px;
}

/* BANNER PRINCIPAL ------ */
.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 40px;
}

.banner--images img {
    height: 148px;
    width: 148px;
    border: 7px solid #117050;
    border-radius: 50%;
    margin-top: 60px;
    margin-right: 40px;
}